body {
    background: linear-gradient(rgb(55,118,150)10%,rgb(53, 53, 53)40%);
}
.header {
    display: flex;
    flex-direction: column;
}

.header___menu{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.header___icon{
    align-self: center;
    width: 1.7rem;
}
.header___name{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header___img{
    width: 25vw;
    border-radius: 100%;
}
.header___title {
    width: 50vw;
    background-color: aliceblue;
    font-size: 1.7rem;

}